body {
    padding: 0;
    margin: .5vw;
    font-family: arial;
}

table {
	width: 20vw;
	text-align: center;
	clear: both;
}

tr:nth-child(even) {
	background-color: #eeeeee;
}

#container {
	width: 30vw;
}