<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Page title Here</title>
        <link th:href="@{css/style.css}" rel="stylesheet" />
    </head>
    <body>
	    <div id="container">
	    	<p>Vi upplever att det har varit ett för litet projekt och vi tror att alla grupper har mer potential än såhär.</p>
	    	<p>Fridas arbete Fridas arbete Fridas arbete Fridas arbete Fridas arbete Fridas arbete Fridas arbete Fridas arbete</p>
	    	
		    <p><b>Vårt Team:</b></p>
	    
		    <table>
		    	<tr>
			   		<td>
			   			<p><b>Alex Reuchadfwe</b></p>
			   			<p><i>The one w/ a girlfriend</i></p>
			   		</td>
			   		<td>
			   			<p><b>Frida Ek</b></p>
			   			<p><i>The Worke</i>r</p>
			   		</td>
		    	</tr>
		    	<tr>
			   		<td>
			   			<p><b>Nedim Kanat</b></p>
			   			<p><i>Wubba lubba dub dub</i></p>
			   		</td>
			   		<td>
			   			<p><b>Olle Johansson</b></p>
			   			<p><i>The timekeeper</i></p>
			   		</td>
		    	</tr>
	    	</table>
	    	
	    	<p>Vår github hittar ni <a href="https://github.com/ollejj/-MGProjekt">här</a></p>
	    	<p>Vårt arbete finns även på <a href="https://www.google.com">heroku</a></p>
	    	
    	</div>
    </body>
</html>

