<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Page title Here</title>
        <link th:href="@{css/style.css}" rel="stylesheet" />
    </head>
    <body>
	    <div id="container">
	    	<p>
	    	   Vi har valt att arbeta både under skoltid i grupp och självständigt övrig tid. <br>
			   Arbetet har flytit på bra, inga konflikter har uppstått och alla har gjort det som <br>
			   har förväntats. <br>
				
			   Vi har använt oss av Git, vilket var första gången för två av oss i gruppen. Detta var<br>
			   lite utmanande i början men vi kom snabbt in i det. Överlag har projektet inte varit<br>
     		   speciellt utmanande, det skulle kunna ha varit mycket mer inveklat. En del av<br>
		 	   att arbeta i grupp är att delegera arbetet utifrån erfarenhet och kunskapsnivå, vilket<br>
			   fungerat utmärkt i vår grupp men tyvärr saknas komplexitet som skulle kunna finnas där t.ex. <br>
			   Spring Security eller Postgres (eller en annan ordentlig databas).<br>
			   Vi har arbetat agilt och delat upp projektet i olika sprintar och till detta har<br>
			   vi haft Trello som hjälp.<br>
			   <br>
			   I trellon har vi lagt ut 4 sprintar. Grön är sprint 1, Gul är sprint 2, Orange är sprint 3 och Röd är sprint 4.
			</p>
	    	
		    <p><b>Vårt Team:</b></p>
	    
		    <table>
		    	<tr>
			   		<td>
			   			<p><b>Alex Raunert</b></p>
			   		</td>
			   		<td>
			   			<p><b>Frida Ek</b></p>
			   			<p><i>The Worker</i></p>
			   		</td>
		    	</tr>
		    	<tr>
			   		<td>
			   			<p><b>Nedim Kanat</b></p>
			   		</td>
			   		<td>
			   			<p><b>Olle Johansson</b></p>
			   		</td>
		    	</tr>
	    	</table>
	    	
	    	<p>Vår github hittar ni <a href="https://github.com/ollejj/-MGProjekt">här</a></p>
	    	<p>Vårt arbete finns även på <a href="http://gruppett.herokuapp.com/">heroku</a></p>
	    	
	    	<p><b>REST-Kommandon:</b></p>
	    	
	    	<div id="cmds">
		    	<table>
			    	<tr>
				   		<td>
				   			<p><b>/createPerson</b></p>
				   		</td>
				   		<td>
				   			<p>Tar emot en body:</p>
				   			<p>{<br>
							    "firstName": string,<br>
							    "lastName": string,<br>
							    "age": int,<br>
							    "gender": char,<br>
							    "city": string,<br>
							    "country": string,<br>
							    "ssN": long<br>
							}</p>
				   		</td>
			    	</tr>
			    	<tr>
				   		<td>
				   			<p><b>/deletePerson/{ssn}</b></p>
				   		</td>
				   		<td>
				   			<p>Ersätt {ssn} med ssn-värdet på den personen du vill ta bort</p>
				   		</td>
			    	</tr>
			    	<tr>
				   		<td>
				   			<p><b>/fetchAll</b></p>
				   		</td>
				   		<td>
				   			<p>Hämtar alla rader från Databas</p>
				   		</td>
			    	</tr>
			    	<tr>
				   		<td>
				   			<p><b>/getPersonBySSN/{ssn}</b></p>
				   		</td>
				   		<td>
				   			<p>Ersätt {ssn} med ssn-värdet på den personen du vill visa</p>
				   		</td>
			    	</tr>
			    	<tr>
				   		<td>
				   			<p><b>/changePerson</b></p>
				   		</td>
				   		<td>
				   			<p>Tar emot en body:</p>
				   			<p>{<br>
							    "firstName": string,<br>
							    "lastName": string,<br>
							    "age": int,<br>
							    "gender": char,<br>
							    "city": string,<br>
							    "country": string,<br>
							    "ssN": long<br>
							}</p>
				   		</td>
			    	</tr>
		    	</table>
	    	</div>
    	</div>
    </body>
</html>

